.task-item.completed .name,
.task-item.completed .price {
  color: gray;
  text-decoration: line-through;
}

input {
  box-sizing: border-box;
  width: 295px;
  height: 44px;
  margin: 0;
  padding: var(--space-small);
  background-color: #e2e1e2;
  border-radius: var(--space-small);
  border: none;
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-item .name {
  text-transform: uppercase;
}

.task-item .price {
  margin-right: var(--space-small);
  font-weight: bold;
}

.task-item .input-checkbox {
  margin-right: var(--space-small);
}

.task-item .spacer {
  flex-grow: 1;
}
