@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap")
  h1,
  h2, p {
  margin-top: 0;
}

h1 {
  font-size: 24px;
  line-height: 1.5;
}

h2 {
  font-size: 18px;
  line-height: 1.5;
}

p,
input,
label,
button {
  font-size: 14px;
  line-height: 1.6;
}

small {
  font-size: 12px;
  line-height: 1.6;
}

label,
button {
  font-weight: bold;
}
